<%# form to add new songs to playlist %>

<div class="container">
   <div class="form-wrapper" id="booking-form-div">
      <%= simple_form_for @song do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :artist, required: true %>
          <%= f.input :title, required: true %>

           <%# input_html: { autocomplete: "email" } %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "add to playlist", class: "button-orange button-new-trip" %>
        </div>
      <% end %>
    </div>
</div>
