<%# form to add new songs to playlist %>

<div class="container container-form">
   <div class="form-wrapper col-sm-12 col-lg-6 text-center new-form" id="booking-form-div">
      <%= simple_form_for @song do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="input-song">
            <%= f.input :artist, required: true, class: "input-form" %>
          </div>
          <div class="input-artist">
            <%= f.input :title, required: true, class: "input-form" %>
          </div>

           <%# input_html: { autocomplete: "email" } %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Add to playlist", class: "btn-song" %>
        </div>
      <% end %>
    </div>
</div>
